@model IEnumerable<FinalProject.Models.RoomAllocate>

@{
    ViewBag.Title = "ViewClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Class Schedule</h2>

<p>
    @Html.ActionLink("Allocate New Class Rooms", "RoomAllocate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToTime)
        </td>
       
    </tr>
}

</table>
