@model IEnumerable<FinalProject.Models.Course>

@{
    ViewBag.Title = "ViewCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Course Statics</h2>

<div class="form-group">
    @Html.Label("Department", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
    </div>
</div>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester.SemesterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.TeacherName)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Semester.SemesterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
        </td>

    </tr>
    @Html.ActionLink("Edit", "AssignCourse", new { id=item.CourseId })
}

</table>
